.rowClass {
    padding-top: 20px;
}

.button {
    margin-right: 2px;
}

.pagMain {
    margin-bottom: 20px;
}

.likeButton {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.answerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answerDiv h6 {
    margin: 0;
    flex: 1; /* Eşit şekilde genişlet */
}

.answerInf {
    display: flex; /* Flex kullanarak isim ve butonu yan yana diz */
    align-items: center;
}

.answerInf p {
    margin: 0;
    margin-right: 10px; /* Buton ile isim arasında boşluk bırak */
}

.answerActions {
    display: flex;
    align-items: center; /* Buton ve zaman metnini yan yana hizala */
}

.answer-card {
    transition: box-shadow 0.3s; /* Gölge geçişi ekle */
}

.answer-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Hover efekti için gölge */
}

.text-muted {
    font-size: 0.9rem; /* Zaman metninin boyutunu küçült */
}

input[type="text"],
textarea {
    resize: none; /* Textarea'nın boyutunu değiştirmeyi engelle */
}

input[type="text"] {
    height: 38px; /* Arama çubuğunun boyutu */
}
