.rowClass {
    padding-top: 20px;
}

.question-card {
    border-left: 5px solid #343a40;
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.question-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.answer-card {
    transition: box-shadow 0.3s ease-in-out;
}

.answer-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.answerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answerInf {
    display: flex;
    align-items: center;
}

.answerInf p {
    margin: 0;
    margin-right: 10px;
}

.answerActions {
    display: flex;
    align-items: center;
}

.likeButton {
    color: #fff;
    background-color: #343a40;
}

.time-text {
    font-size: 0.8rem;
    margin-left: 10px;
    color: #6c757d;
}

.font-italic {
    font-style: italic;
}

textarea {
    resize: none;
}

textarea.form-control {
    min-height: 80px;
}

.save-cancel-container {
    display: flex;
    justify-content: flex-end; /* Butonları sağa hizala */
    gap: 10px; /* Butonlar arasına boşluk ekle */
    margin-top: 10px; /* Üst tarafa boşluk ekle */
}

textarea.form-control {
    min-height: 80px;
    margin-bottom: 10px; /* Alt tarafa boşluk ekle */
}

.answerActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* İçeriğin taşmasını engelle */
}

