.dropdownNone {
  list-style-type: none; /* Liste işaretlerini kaldırır */
  /* Varsayılan dış boşluğu kaldırır */
}
  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(56, 43, 43, 0.25);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }

  .hoverText{
    color: white;
  }

  .hoverText:hover {
    color: black;
  }

  a:hover {
    cursor: pointer;
}

