<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a routerLink="/" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a routerLink="/questions" class="nav-link px-2 text-white">Questions</a></li>
        <li><a routerLink="/users" class="nav-link px-2 text-white">Users</a></li>
        <li>
          <a
            href="http://github.com/sametsngnn"
            target="_blank"
            class="nav-link px-2 text-white"
            >About</a
          >
        </li>
        <li><a routerLink="/admin" class="nav-link px-2 text-white">Admin</a></li>
      </ul>
      <div class="text-end">
        <button routerLink="/login"  type="button" class="btn btn-outline-light me-2">Login</button>
        <button routerLink="/register" type="button" class="btn btn-outline-success">Sign-up</button>
      </div>
    </div>
  </div>
</header>
