<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a routerLink="/" class="nav-link px-2 text-secondary">Home</a></li>
        <li>
          <a routerLink="/questions" class="nav-link px-2 text-white"
            >Questions</a
          >
        </li>
        <li>
          <a routerLink="/users" class="nav-link px-2 text-white">Users</a>
        </li>
        <li>
          <a
            href="http://github.com/sametsngnn"
            target="_blank"
            class="nav-link px-2 text-white"
            >About</a
          >
        </li>
        <li *ngIf="isAdmin">
          <a routerLink="/admin" class="nav-link px-2 text-white">Admin</a>
        </li>

      </ul>
      <div class="text-end">
        <div *ngIf="isLoggedIn; else notLoggedIn">
          <li class="nav-item dropdown dropdownNone">
            <div class="d-flex justify-content-center align-items-center">
              <img
                class="rounded-circle me-3"
                src="http://localhost:5000/uploads/{{ userProfileImage }}"
                alt=""
                style="width: 40px; height: 40px"
              />
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >{{ userName }}</a
              >

              <div class="dropdown-menu bg-dark text-white">
                <a class="dropdown-item hoverText" routerLink="/edit-profile"
                  >Edit Profile</a
                >
                <a class="dropdown-item hoverText" routerLink="/settings"
                  >Settings</a
                >
                <button
                  (click)="logout()"
                  type="button"
                  class="dropdown-item hoverText"
                >
                  Logout
                </button>
              </div>
            </div>
          </li>
        </div>

        <ng-template #notLoggedIn>
          <button
            routerLink="/login"
            type="button"
            class="btn btn-outline-light me-2"
          >
            Login
          </button>
          <button
            routerLink="/register"
            type="button"
            class="btn btn-outline-success"
          >
            Sign-up
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</header>
