<main class="form-signin">
    <form (submit)="login()">
     
      <h1 class="h3 mb-3 fw-normal">Sign in</h1>
  
      <div class="form-floating">
        <input [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-outline-success" type="submit">Sign in</button>
      <button class="w-100 btn btn-sm mt-2 btn-outline-danger" type="submit" routerLink="/password-reset">Forgot Password</button>

    </form>
  </main>