<div class="container">
  <!-- Search Bar -->
  <div class="rowClass row justify-content-center mb-4">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="input-group">
        <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search"
          [(ngModel)]="filterText" (input)="triggerFunction()" />
        <button class="btn btn-dark" type="button" value="most-answered" (click)="changeSort('most-answered')">
          Most Answered
        </button>
        <button class="btn btn-dark" type="button" value="most-liked" (click)="changeSort('most-liked')">
          Most Liked
        </button>
        <button class="btn btn-dark" type="button" value="newest" (click)="changeSort('newest')">
          Newest
        </button>
      </div>
    </div>
  </div>

  <!-- Ask a question -->
  <div *ngIf="isLoggedIn" class="rowClass row justify-content-center mb-2">
    <div class="col-12 col-md-10 col-lg-8">
      <h5 class="mb-2">Ask a Question:</h5>
      <form (submit)="askAQuestion()">
        <textarea [(ngModel)]="questionObject.title" class="form-control" rows="1"
          placeholder="Enter your question title" required name="questionTitle"></textarea>
        <div class="input-group">
          <textarea [(ngModel)]="questionObject.content" class="form-control" rows="3"
            placeholder="Enter your question content" required name="questionContent"></textarea>
          <button class="btn btn-dark" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Questions -->
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8" *ngFor="let question of questionList">
      <div class="card mb-4">
        <div class="card-body">
          <!-- Edit Mode Control -->
          <div class="d-flex justify-content-between">
            <div>
              <!-- Question Title -->
              <ng-container *ngIf="!isEditing[question._id!]; else editTitle">
                <h5 class="card-title">{{ question.title }}</h5>
              </ng-container>
              <ng-template #editTitle>
                <textarea class="form-control" [(ngModel)]="question.title" rows="1" cols="50"></textarea>
              </ng-template>
            </div>
            <!-- CreatedAt -->
            <p class="text-muted mb-0">{{ timeAgo(question.createdAt) }}</p>
          </div>

          <!-- Question Subtitle (User Info) -->
          <h6 class="card-subtitle mb-2 text-muted">
            {{ question.user?.name }}
          </h6>

          <!-- Question Content -->
          <ng-container *ngIf="!isEditing[question._id!]; else editContent">
            <p class="card-text">{{ question.content }}</p>
          </ng-container>
          <ng-template #editContent>
            <textarea class="form-control" [(ngModel)]="question.content" rows="3"></textarea>
          </ng-template>

          <!-- Action Buttons -->
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <button *ngIf="question.likes?.includes(userId); else likeButton" class="btn btn-light me-2"
                (click)="likeOrUndoLikeQuestion(question._id!, true)">
                Unlike | {{ question.likeCount }}
              </button>
              <ng-template #likeButton>
                <button class="btn btn-light me-2" (click)="likeOrUndoLikeQuestion(question._id!, false)"
                  [disabled]="!isLoggedIn">
                  Like | {{ question.likeCount }}
                </button>
              </ng-template>
              <button class="btn btn-light" [routerLink]="'/answers/' + question._id!">
                Answer | {{ question.answerCount }}
              </button>
            </div>

            <!-- Right Side (Delete, Edit, Save) -->
            <div class="rightSide">
              <div *ngIf="question.user && question.user._id == userId">
                <button *ngIf="!isEditing[question._id!]; else saveButton" class="btn btn-dark"
                  (click)="toggleEditMode(question._id!)">
                  Edit
                </button>
                <ng-template #saveButton>
                  <button class="btn btn-dark" (click)="cancelEdit(question._id!)">
                    Cancel
                  </button>
                  <button class="btn btn-dark" (click)="saveQuestion(question._id!)">
                    Save
                  </button>
                </ng-template>
                <button class="btn btn-dark" (click)="deleteOwnQuestion(question._id!)">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="pagMain row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center">
      <div *ngFor="let i of totalPageNumberArray">
        <button class="btn btn-dark me-2" type="button" (click)="changePageNumber(i)">
          {{ i }}
        </button>
      </div>

      <div class="align-items-center d-flex">
        <p style="margin: 0; margin-right: 4px">Per Page:</p>
        <select [(ngModel)]="limit" (change)="triggerFunction()">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>
    </div>
  </div>
</div>