
.container {
    margin: 0 auto;
    padding: 20px;
}

.rowClass {
    padding-top: 20px;
}

.input-group {
    margin-bottom: 1.5rem; 
}

.btn-dark {
    background-color: #333;
    border: none; 
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn-dark:hover {
    background-color: #000;
}

.form-control {
    border-radius: 0.25rem;
}

.card {
    border: 1px solid #e0e0e0; 
    border-radius: 0.5rem; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    margin-bottom: 20px; 
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.card-subtitle {
    font-size: 1rem; 
    color: #888;
}

/* Butonlar */
.likeButton {
    color: #fff;
    background-color: #007bff;
    border-radius: 0.25rem;
}

.likeButton:hover {
    background-color: #0056b3; 
}

button[disabled] {
    opacity: 0.6; 
}


.input-group input {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

.input-group button {
    border-radius: 0.25rem;
}

textarea {
    resize: none;
    border-radius: 0.25rem;
}

.pagMain {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagMain button {
    padding: 10px 20px;
    border-radius: 0.25rem;
    background-color: #333;
    border: none;
    transition: background-color 0.3s ease;
}

.pagMain button:hover {
    background-color: #000;
}

.pagMain select {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 0.25rem;
}

.rightSide {
    justify-content: center;
}
