<main class="form-signin">
    <form>
     
      <h1 class="h3 mb-3 fw-normal">Password reset</h1>
      <h4 class="h6 mb-3 fw-normal text-muted">Please enter your email. We’ll send you a link to reset your password.</h4>
  
      <div class="email form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-outline-danger" type="submit">Send Reset Link</button>

    </form>
  </main>